{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;"> My google OAuth Project </h1>
    {% if user.is_authenticated %}
    <p>Welcome. You are logged in as {{user.username}} </p>
    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}
    <title>Title</title>
{#<body>#}
{#<nav>#}
{#    <ul>#}
{#        <li><a href="test.html">Shopping List</a></li>#}
{#        <li><a href="recipe.html">Recipe Page</a></li>#}
{#    </ul>#}
{#</nav>#}
{##}
{#<div class="tabs">#}
{#    <button class="tablinks" onclick="openList(event, 'List1')">List 1</button>#}
{#    <button class="tablinks" onclick="openList(event, 'List2')">List 2</button>#}
{#    <button class="tablinks" onclick="openList(event, 'List3')">List 3</button>#}
{#</div>#}
{##}
{#<button onclick="addNewList()">Add New Shopping List</button>#}
{##}
{#<section id="addItemSection">#}
{#    <h2>Add Items to List</h2>#}
{#    <form>#}
{#        <input type="text" id="item" name="item" placeholder="Enter item">#}
{#        <button type="submit">Add Item</button>#}
{#    </form>#}
{#</section>#}
{</body>}
</html>